<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">KamBlog</a>
          </div>
      <ul class="nav navbar-nav pull-right">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/blogs" routerLinkActive="active">Code Blogs</a></li>
      </ul>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>