
<div class="row">
 
  <div class="col-lg-8 col-lg-offset-2">
   
 	<img src="assets/bg2.png" class="img-responsive img" alt="Cinque Terre">
 	<br>
 	<div class="row">
 		<div class="col-lg-2"></div>
		 	<div class="col-lg-2">
		   <a href="https://github.com/kam-90" target="_blank"><img src="assets/git.png" class="img-responsive im1">Github</a> </div>
		   <div class="col-lg-2">
		   <a href="https://twitter.com/90Kam" target="_blank"><img src="assets/twitter.png" class="img-responsive im1">Twitter</a>
		  </div>

      <div class="col-lg-2">
        <a href="assets/-kamranResume.pdf" download>
        <img src="assets/dw.png" class="img-responsive im1">Download Resume</a>
      </div>
      <div class="col-lg-2">
        <a href="assets/-kamranResume.pdf" target="_blank">
          <img src="assets/res.png" class="img-responsive im1"> View Resume
        </a>
      </div>
		   
		  <div class="col-lg-2">
		  	<a href="mailto:kamransaeed9031@gmail.com">
		  		<img src="assets/gmail.png" class="img-responsive im1"> Send Email
		  	</a>
		  </div>
    </div>
 </div>
 </div>

 	
<br><br>
<div class="row">
  <div class="col-lg-2"><h2>WHO AM I</h2></div>
  <div class="col-lg-8 ">
   <h4> {{myinfo}}</h4>
  </div>
  <div class="col-lg-2">
  	<br><br>
    </div>
  </div>	

 

  <div class="row">
  <div class="col-lg-2"><h2>Profile Summary</h2></div>
  <div class="col-lg-8">
   <br><h4>{{summary}}</h4>
  </div>
  <div class="col-lg-2"></div>
  </div>

   <div class="row">
  <div class="col-lg-2"><h2>Linked In Profile</h2></div>
  <div class="col-lg-8">
   <br><h4><a href="https://www.linkedin.com/in/itdevoteekamran/" target="_blank">"https://www.linkedin.com/in/itdevoteekamran/"</a></h4>
  </div>
  <div class="col-lg-2"></div>
  </div> 

  

  <div class="row">
  <div class="col-lg-2"><h2>Skill Set</h2></div>
  <div class="col-lg-8">
   <h4><br>{{skill}} <br>
   <br>{{skill4}}<br>
   <br>{{skill1}}<br>
   <br>{{skill2}}<br>
   <br>{{skill3}}</h4>
  </div>
  <div class="col-lg-2"></div>
  </div>



  <br>